/* *{
  padding: 0;  
  margin: 0;
} */
.prg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main{
    color: royalblue;
}
.meta{
    background-color: rgb(0, 219, 197);
    color: rgb(255, 255, 255);
    font-size: 5vh;
    height: 10vh;
    border-radius: 50px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}