/* *{
  padding: 0;  
  margin: 0;
} */

.main{
    color: royalblue;
}
.meta{
    background-color: rgb(70, 215, 3);
    color: rgb(255, 255, 255);
    font-size: 50px;
    height: 200px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}